body {
    font-family: "Rajdhani";
    background-color: #0c0c0c;
}

.header-photo {
    width: 60%;
}

.page-content {
    width: 80%;
    margin: 24px auto 0px auto;
    text-align: center;
}

.page-content>p {
    color: #FFFFFF;
}

.music-service-links {
    margin: 48px auto 48px auto;
}

.music-service-button {
    width: 250px;
    margin: 12px auto 12px auto;
}

.music-service-logo {
    width: 250px;
    margin: 12px auto 12px auto;
}