body {
  font-family: "Rajdhani";
}

a {
  font-weight: bold;
}

.project-path {
  font-weight: 500;
  font-size: 18px;

  width: 80%;
  margin: 48px auto 24px auto;
}

.img-container {
  width: 100%;
  text-align: center;
}

.header-photo {
  width: 80%;
}

.project-page-section {
  width: 80%;
  margin: 24px auto 0px auto;
}

.project-page-section h1 {
  font-weight: 700;
  font-size: 64px;
}

.project-page-section h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}

.project-page-section h3 {
  font-weight: 600;
  font-size: 20px;
}

.project-page-section p {
  font-weight: 500;
  font-size: 16px;
}
.project-page-header p { opacity: 60%; }

.components-list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  opacity: 60%;
}

.project-photo {
  width: 100%;
  margin: 24px 0px 24px 0px;
}

.project-video {
  width: 100%;
  margin: 24px 0px 24px 0px;
}
