body {
    font-family: "Inter";
    text-align: start;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    min-height: 100vh;
    max-width: fit-content;
    margin: auto;
    padding: 0px 32px 0px 32px;
}

@media(prefers-color-scheme: dark) {
    .dark-appearance {
        background: #0c0c0c;
        color: #f5f5f5;
    }
}

@media(prefers-color-scheme: light) {
    .light-appearance {
        background: #ebebeb;
        color: #141414;
    }
}

h1 {
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 4px;
}

h2 {
    font-weight: 500;
    font-size: large;
    margin-top: 4px;
}

@media(prefers-color-scheme: light) {
    h2 {
        color: #404040;
    }
}

@media (prefers-color-scheme: dark) {
    h2 {
        color: #d1d1d1;
    }
}

h3 {
    font-weight: 400;
    font-size: medium;
    margin-top: 32px;
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
    font-weight: 350;
    font-size: medium;
    margin: 0px 0px 0px 44px;
    padding: 0px 0px 0px 0px; 
}

@media(prefers-color-scheme: light) {
    ul { color: #404040 }
}

@media(prefers-color-scheme: dark) {
    ul { color: #d1d1d1 }
}

li {
    margin-bottom: 12px;
}

#folder {
    display: inline;
    width: 18px;
}

@media(prefers-color-scheme: light) {
    #folder { fill: #141414; }
}

@media(prefers-color-scheme: dark) {
    #folder { fill: #f5f5f5; }
}

a {
    text-decoration: none;
}

@media(prefers-color-scheme: light) {
    a { color: #404040 }
    a:hover { color: #0074f5 }
    a:active { color: #0074f5 }
    a:visited { color: #404040 }
}

@media(prefers-color-scheme: dark) {
    a { color: #d1d1d1 }
    a:hover { color: #017BFF }
    a:active { color: #017BFF }
    a:visited { color: #d1d1d1 }
}