body {
    color: #f5f5f5;
    font-family: "Inter";
    text-align: start;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    min-height: 100vh;
    max-width: fit-content;
    margin: auto;
}

h1 {
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 4px;
}

h2 {
    color: #d1d1d1;
    font-weight: 500;
    font-size: large;
    margin-top: 4px;
}

h3 {
    font-weight: 400;
    font-size: medium;
    margin-top: 32px;
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
    color: #d1d1d1;
    font-weight: 400;
    font-size: small;
    margin: 0px 0px 0px 44px;
    padding: 0px 0px 0px 0px; 
}

li {
    margin-bottom: 12px;
}

#folder {
    color: #f5f5f5;
    display: inline;
    width: 18px;
}

a {
    color: #d1d1d1;
    text-decoration: none;
}

a:hover {
    color: #0074f5;
}

a:active {
    color: #0074f5;
}

a:visited {
    color: #f5f5f5;
}